.existing.task .row {
    background-color: white;
    opacity: 0.95;
    padding: 2px 12px 0px 16px;
    border-radius: 15px;
    margin: 2px 0px 0;
}

#add-task::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f8f9fa;
}
.new.task .form-group {
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
}
.new.task input {
    padding: 24px;
}
.task-name .form-control-plaintext {
    padding: 0;
}
.task-due {
    line-height: 1;
    color: #007bff;
}
.form-group.task-details {
    margin-bottom: 0.4rem;
}
.form-group.task-checkbox {
    margin-bottom: 0;
    margin-right: 7px;
}
.task-checkbox input {
    width: 22px;
    height: 22px;
}
.task-name {
    overflow: hidden;
    max-height: 1.2rem;
}
.existing.task .col {
    padding-right: 0;
}
.form-group.task-details {
    margin-bottom: 0.4rem;
    width: 309px;
}
.form-group.task-details {
    margin-bottom: 0.4rem;
    width: 309px;
    height: 2.2rem;
}
.no-due .task-name {
    margin-top: 8px;
}
.task-icons {
    margin-top: 0;
    margin-bottom: 0;
}
.task-due.overdue {
    color: red;
}
.back-icon {
    font-size: 2em;
    line-height: 1em;
    color: #999;
}
.existing.task .category.row {
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 3px 0 7px;
}
.category.row small {
    background: rgba(0, 102, 102, 0.8);
    padding: 5px 15px;
    font-weight: bold;
}

.existing.task .row.draggable-mirror {
    background-color: blue;
    color: white;
    opacity: 0.5;
}
.existing.task .row.draggable-source--is-dragging {
    background-color: #333;
    color: #eee;
    margin-top: 25px;
    margin-bottom: 25px;
}
