.top.container {
    background-color: white;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.icon svg {
    width: 1.7em;
    height: 1.7em;
    color: #666;
}

.task-name {
    padding: 10px;
}
.back.icon {
    margin-top: 1.25rem;
}
.main.container .row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.main.container .new-subtask.row {
    padding-top: 0;
}
.main.container .due-date.icon {
    margin-top: 6px;
}
.main.container .col.value {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.main.container .col.task-note.value {
    padding-bottom: 1rem;
    white-space: pre-wrap;
}

/* @see https://stackoverflow.com/a/21998995 */
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}
.actions {
    line-height: 3em;
}
.existing-subtask-value .form-control-plaintext {
    padding-top: 0;
}
.col.existing-subtask-value.checked input {
    text-decoration: line-through;
    color: #999;
}
.existing-subtask-value .actions.icon {
    line-height: 1em;
}
.existing-subtask-value span.float-left {
    width: 275px;
}
.new-subtask .icon {
    margin-top: 5px;
}
